@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.aboutPage {
  grid-row: 2;
  max-height: 100%;
  padding: spacing(xl) spacing(md);
  background: color(background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;

  h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin: 0 0 spacing(sm);
    font-weight: 700;
    color: color(base-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }
}

.aboutTheSite,
.aboutUs,
.contactUs {
  border-radius: 20px;
}

.aboutTheSite {
  background: color(soft-background);
  text-align: center;
  flex-basis: 30%;
  box-shadow: 0px 0.4rem 0.5rem 0.5rem rgba(color(base-gold), 0.637);
  padding: spacing(md);

  h2 {
    color: color(accent-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }

  p {
    font-size: 1.1rem;
  }
}

.aboutUs {
  background: color(overlay-medium);
  flex-basis: 30%;
  max-height: 90%;
  overflow: auto;
  text-align: center;

  h3 {
    color: color(base-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }

  img {
    max-height: 400px;
    border-radius: 50%;
  }
}

.contactUs {
  background: color(overlay-dark);
  text-align: center;
  flex-basis: 30%;
}
