@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardBorder {
  // margin-bottom: spacing(lg);
  border-radius: 3px;
  margin-top: spacing(sm);
  width: 95%;
  height: 90%;
  overflow: scroll;

  legend {
    font-weight: 600;
    margin-bottom: spacing(md);
    color: color(text-dark);
  }
}

.navItem {
  color: blue;
  text-decoration: none;
  padding: 0.5%;
  border-radius: 4px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    background: rgba(255, 255, 255, 0.2);
    font-weight: 500;
  }
}

.deleteButton {
  @include button-reset;
  // width: 30%;
  margin-left: 41%;
  // margin-top: 5%;
  // padding: spacing(md);
  background: color(secondary);
  color: color(white);
  border-radius: radius(md);
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;

  &:hover:not(:disabled) {
    background: color(red);
    transform: translateY(-1px);
  }

  &.buttonLoading {
    background: #a0aec0;
  }

  &.buttonDisabled {
    filter: grayscale(.9);
  }
}

