@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.profilePage {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.userCards {
  gap: 2dvh;
  padding: 2dvh;
  margin-bottom: 2dvh;
  display: flex;
  flex-direction: row;
  min-height: 0; // Important for flex children

  h2 {
    margin-top: 0;
  }
}

.userCards > * {
  color: color(card-grey);
  text-shadow: 0 1px 3px color(theme-white);
}

.userInfoCard {
  width: 30dvw;
  border-radius: 20px;
  padding: 1dvw;
  height: 69dvh;
  background: #f5d1e6d5;
  overflow: auto;
}

.userFriendsCard {
  max-width: 30dvw;
  border-radius: 20px;
  flex: 1;
  padding: 1dvw;
  height: 69dvh;
  background: #e4d1f5d5;
  overflow: scroll;
}

.userReelProgressCard {
  color: color(text-dark);
  max-width: 30dvw;
  border-radius: 20px;
  flex: 1;
  padding: 1dvw;
  height: 69dvh;
  background: #d1d8f5d5;
  overflow: scroll;
}

