@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  min-height: 4dvh;
  background-color: color(soft-background);
  position: 0, 0;
  display: flex;
  justify-content: space-between;

  p {
    margin-top: 5px;
    padding-right: 2dvh;
  }
}

.logoImg {
  border-radius: 50%;
  height: 100px;
}

.footerLinks {
  display: flex;
}

.footerButtons {
  max-height: 4dvh;
  color: color(base-gold);
  height: auto;
  text-decoration: none;
  padding-left: 2dvh;
  padding-right: 2dvh;
  border-radius: 4px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  transition: background 0.2s;
  // text-align: left;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.activeLink {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

// Make footer disappear on tablet and below
@media (max-width: breakpoint(tablet)) {
  .footer > * {
    font-size: 0.9rem;
  }
}

@include mobile {
  .footer {
    grid-row: 4;
    position: relative;
    height: 6dvh;
    font-size: 0.9rem;

    p,
    a {
      font-size: 0.9rem;
    }
  }
}
