.navbar {
    display: flex;
    align-items: flex-end;
    width: 100dvw;
    justify-content: space-between;
}

.logoImg {
    border-radius: 50%;
    height: 125px;
}

button{
    align-self: flex-end;
}